body{
    background-color: black;
    text-align:center;
    
}
h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.video{
    align-content: center;
}

h2{
   font-family: Verdana;
   font-weight: 300;
font-size:42px;
    color:white;
}
p{
    color:aquamarine;
    font-size:16px;
    font-family: Verdana;
}
.travel{
    color:gray;
    font-size:21px;
    font-family: Verdana;
}
.iphone{
    margin-top: 20px;
}
footer{
    font-family: Verdana;
    font-size:21px;
    text-align: right;
    color:gray;
}